Product Image Expert/Product Image Expert.json
{
  "name": "Product Image Expert",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Go 2 Market",
        "formDescription": "Give us a product image",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Product Photo",
              "fieldType": "file"
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email"
            },
            {
              "fieldLabel": "Product Title"
            },
            {
              "fieldLabel": "Product Description"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -16,
        -48
      ],
      "id": "03148744-e767-4d70-b6d1-c7d4056840f7",
      "name": "On form submission",
      "webhookId": "c29bd074-7784-4349-b65f-7ada1645019b"
    },
    {
      "parameters": {
        "content": "## Form Trigger",
        "height": 288,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -64,
        -144
      ],
      "id": "8d766abd-f94f-4b19-be0b-a1b6260ee2aa",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "inputDataFieldName": "Product_Photo",
        "name": "={{ $json['Product Title'] }} Original",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "122AaRY0zRpfNUqFjpk82_56axVTidwZ8",
          "mode": "list",
          "cachedResultName": "DSN",
          "cachedResultUrl": "https://drive.google.com/drive/folders/122AaRY0zRpfNUqFjpk82_56axVTidwZ8"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        -48
      ],
      "id": "e0bed811-b0a8-44f2-8b04-b3f75d29e236",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "K0ThRAjWD4MAV6Jj",
          "name": "obananob91@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "content": "## Upload File",
        "height": 288,
        "width": 208,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        -144
      ],
      "id": "1f04c414-1a14-4cb0-8c48-01c8b5da6d0e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Product : {{ $('On form submission').item.json['Product Title'] }}\n\nDescription : {{ $('On form submission').item.json['Product Description'] }}",
        "options": {
          "systemMessage": "=## Overview\nYou are a world-class marketing strategist and an expert text-to-image prompt engineer specializing in creating hyper-realistic, high-quality product photography prompts for AI image generation models.\n\n## Your Objective:\nWhen given a product description, your task is to craft a detailed, professional prompt that results in a hyper-realistic, clean, and visually compelling product image suitable for marketing material, advertising banners, or e-commerce platforms.\n\n## Key Requirements:\n- Focus on hyper-realistic, professional studio photography.\n- Maintain a clean, minimal, and elegant visual style.\n- Highlight the product as the main subject with sharp detail and perfect lighting.\n- Use backgrounds that complement but do not overpower the product (e.g., soft gradient, light-colored, or pure white).\n- Recommend professional lighting details such as “softbox lighting,” “studio lights,” or “natural ambient light.”\n- Include camera angle, material, and color accuracy.\n- Where relevant, suggest a subtle setting that enhances the product’s appeal (e.g., a luxury kitchen counter for a high-end blender).\n\n## Output Format:\n- A single sentence text-to-image prompt optimized for a professional AI image model.\n- Use vivid and descriptive text without excessive words.\n- Avoid technical repetition or adjectives that do not enhance the image.\n- Ensure the prompt is complete and ready for direct input in an AI model.\n\n## Tone:\nProfessional, precise, clean, and optimized for maximum realism and marketing impact."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        416,
        -80
      ],
      "id": "0fe7ad96-0e8d-48ac-b60c-1a1a492ae5d7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "qwen/qwen-2.5-72b-instruct:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        416,
        48
      ],
      "id": "248cfd74-f994-4432-ac49-53df378e91a0",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "FYWnMaUCbpnPRk4j",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Upload file').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        752,
        -48
      ],
      "id": "99efa342-f677-425d-8d54-caee0be6ec53",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "K0ThRAjWD4MAV6Jj",
          "name": "obananob91@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/edits",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            },
            {
              "name": "prompt",
              "value": "={{ $json.output }}"
            },
            {
              "name": "model",
              "value": "gpt-image-1"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        976,
        -48
      ],
      "id": "6c21c0c5-a6ba-4fe1-9ea7-886323e404b4",
      "name": "create image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "004Q5nR8u0SQecPj",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data[0].b64_json",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1184,
        -48
      ],
      "id": "c93d329b-4412-41b1-a8ea-458d0637e511",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "content": "## Image Prompt",
        "height": 288,
        "width": 288,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        384,
        -144
      ],
      "id": "11702de9-1635-44b7-a713-ff5b58f23db0",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Download File",
        "height": 288,
        "width": 224,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        688,
        -144
      ],
      "id": "7604b1fd-6b2f-4852-b4a1-7ff9cb38b0be",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Image Generation",
        "height": 288,
        "width": 416,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        928,
        -144
      ],
      "id": "d0619275-e473-4580-8f0d-f470e325e073",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1408,
        -48
      ],
      "id": "4c8350ce-2ded-4b04-b9d5-87efcc841625",
      "name": "Get URL",
      "credentials": {
        "httpQueryAuth": {
          "id": "vnzkD2hPrrEuBkWT",
          "name": "IMGBB"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "=Marketing Materials :  {{ $('On form submission').item.json['Product Title'] }}",
        "emailType": "text",
        "message": "=Yo!\n\nHere is your photo: {{ $json.data.url }}\n\nenjoy!!!",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1584,
        -48
      ],
      "id": "a8a53214-9eee-4619-a9b8-d1c557a67f51",
      "name": "Send Finished Product",
      "webhookId": "b371c974-9e94-4f4f-9aaf-12416fef19db",
      "credentials": {
        "gmailOAuth2": {
          "id": "dQGccUnnx8BczNSl",
          "name": "obananob91@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "content": "## Done",
        "height": 288,
        "width": 416,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1376,
        -144
      ],
      "id": "d405146c-367f-40b0-b216-fed5e1fed900",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "create image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create image": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Get URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get URL": {
      "main": [
        [
          {
            "node": "Send Finished Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a74c8105-d32c-4001-84c5-adb6e5147429",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a4125a60a7bbacca04cfc44b7b60cafdf1f566575f1fe59d7ab14bf4321bf119"
  },
  "id": "uUTclS5L43PxkqQr",
  "tags": []
}