InvoiceFlow/InvoiceFlow.json
{
  "name": "InvoiceFlow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1xucd0rRQKkeW9wOPJPsXUZ6rZ98airgw",
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1xucd0rRQKkeW9wOPJPsXUZ6rZ98airgw"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "fd051866-d5e1-4304-a252-87b1ccbb9e87",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "K0ThRAjWD4MAV6Jj",
          "name": "obananob91@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "e98501c1-5d86-4b30-99db-b0b9a068164c",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "Invoice number",
              "description": "number of the invoice",
              "required": true
            },
            {
              "name": "Client Name",
              "description": "name of client",
              "required": true
            },
            {
              "name": "Client Email",
              "description": "email of client",
              "required": true
            },
            {
              "name": "Client Address",
              "description": "Client Address",
              "required": true
            },
            {
              "name": "Client Phone",
              "description": "Client Phone",
              "required": true
            },
            {
              "name": "Total Amount",
              "description": "Total Amount",
              "required": true
            },
            {
              "name": "Invoice Date",
              "type": "date",
              "description": "Invoice Date",
              "required": true
            },
            {
              "name": "Due Date",
              "type": "date",
              "description": "Due Date",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        672,
        0
      ],
      "id": "0f9d41ef-98ea-4cad-94a9-2ab2181510e4",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        0
      ],
      "id": "cf837031-7901-41ba-afc3-06f95519f109",
      "name": "Download binary",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "K0ThRAjWD4MAV6Jj",
          "name": "obananob91@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1yv-nhb53zxc4K0QSFLW-LL7XGptREHtA71h22LwMN98",
          "mode": "list",
          "cachedResultName": "invoice",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yv-nhb53zxc4K0QSFLW-LL7XGptREHtA71h22LwMN98/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yv-nhb53zxc4K0QSFLW-LL7XGptREHtA71h22LwMN98/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Invoice number": "={{ $json.output['Invoice number'] }}",
            "Client Name": "={{ $json.output['Client Name'] }}",
            "Invoice Date": "={{ $json.output['Invoice Date'] }}",
            "Client Email": "={{ $json.output['Client Email'] }}",
            "Total Amount": "={{ $json.output['Total Amount'] }}",
            "Client Phone": "={{ $json.output['Client Phone'] }}",
            "Client Address": "={{ $json.output['Client Address'] }}",
            "Due Date": "={{ $json.output['Due Date'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Invoice number",
              "displayName": "Invoice number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Email",
              "displayName": "Client Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Address",
              "displayName": "Client Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Phone",
              "displayName": "Client Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Amount",
              "displayName": "Total Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1008,
        0
      ],
      "id": "104c3ba3-8d10-4be9-9a8f-048c77d29af6",
      "name": "update DB",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Pc1eXP4jTmAgMaOv",
          "name": "obananob91@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-r1-distill-llama-70b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        768,
        160
      ],
      "id": "02a91259-ca45-4c0c-8e27-8f7d93946742",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "FYWnMaUCbpnPRk4j",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=obananob91@gmail.com",
        "subject": "={{ $json.Subject }}",
        "emailType": "text",
        "message": "={{ $json.Email }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1808,
        16
      ],
      "id": "1b3a6a68-a4dd-4961-bec8-4be0db342641",
      "name": "Send a message",
      "webhookId": "3cfb87aa-a440-4a9b-b765-e2215dfa2ee3",
      "credentials": {
        "gmailOAuth2": {
          "id": "dQGccUnnx8BczNSl",
          "name": "obananob91@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5ee8f909-64ff-4b10-a863-48c3389f23fe",
              "name": "Subject",
              "value": "={{ JSON.parse($json.content.parts[0].text).Subject }}",
              "type": "string"
            },
            {
              "id": "8dbd01d5-dc89-4974-9d3a-6970d5caa48c",
              "name": "Email",
              "value": "={{ JSON.parse($json.content.parts[0].text).Email }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1584,
        16
      ],
      "id": "2a5566eb-105a-4858-96da-583fc93fc834",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-1.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-1.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Invoice Number: {{ $json['Invoice number'] }}\n\nClient Name: {{ $json['Client Name'] }}\n\nClient Email: {{ $json['Client Email'] }}\n\nTotal Amount: {{ $json['Total Amount'] }}\n\nInvoice Date: {{ $json['Invoice Date'] }}\n\nDue Date: {{ $json['Due Date'] }}"
            },
            {
              "content": "=# OVerview\nYou are greeny, an email expert of greenville corp, you will recieve invoice information, your job is to notify the billing team that an invoice was recieved or sent\n\n#Email \nInform the billing team of the invoie, let them know you have already updated it in the Database and can be viewed from this link:\nhttps://docs.google.com/spreadsheets/d/1yv-nhb53zxc4K0QSFLW-LL7XGptREHtA71h22LwMN98/edit?gid=0#gid=0\n\n# Output\nOutput the following parameters separately:\nSubject\nEmail"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1232,
        0
      ],
      "id": "406737ab-7d41-49d0-8427-4c455b15f3ac",
      "name": "Create Email",
      "credentials": {
        "googlePalmApi": {
          "id": "c06sThkKQ3J2nzid",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Retrieving invoice from a folder in drive",
        "height": 416,
        "width": 608
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -32,
        -144
      ],
      "id": "bce2eed8-2460-480d-89c0-1664732ffff5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Extracting invoice information from drive",
        "height": 416,
        "width": 496,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        624,
        -144
      ],
      "id": "017ffefa-518e-449f-883f-ccd1a03b5496",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Generating Email to send to the billing team",
        "height": 416,
        "width": 784
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1152,
        -144
      ],
      "id": "c0bf6c34-ff1e-4131-8ddd-48397c1cc135",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {
    "Google Drive Trigger": [
      {
        "json": {
          "parents": [
            "1xucd0rRQKkeW9wOPJPsXUZ6rZ98airgw"
          ],
          "lastModifyingUser": {
            "displayName": "Atiatunnnasir Oni Bashir",
            "kind": "drive#user",
            "me": true,
            "permissionId": "04924317580726147301",
            "emailAddress": "obananob91@gmail.com",
            "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocK_hFCrAUTqhGD_9T0Pqs2ZFVT2ECnWtSqdLpVwWO-kxBHn_w=s64"
          },
          "owners": [
            {
              "displayName": "Atiatunnnasir Oni Bashir",
              "kind": "drive#user",
              "me": true,
              "permissionId": "04924317580726147301",
              "emailAddress": "obananob91@gmail.com",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocK_hFCrAUTqhGD_9T0Pqs2ZFVT2ECnWtSqdLpVwWO-kxBHn_w=s64"
            }
          ],
          "permissions": [
            {
              "kind": "drive#permission",
              "id": "04924317580726147301",
              "type": "user",
              "emailAddress": "obananob91@gmail.com",
              "role": "owner",
              "displayName": "Atiatunnnasir Oni Bashir",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocK_hFCrAUTqhGD_9T0Pqs2ZFVT2ECnWtSqdLpVwWO-kxBHn_w=s64",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "spaces": [
            "drive"
          ],
          "capabilities": {
            "canAcceptOwnership": false,
            "canAddChildren": false,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": true,
            "canChangeItemDownloadRestriction": true,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": true,
            "canComment": true,
            "canCopy": true,
            "canDelete": true,
            "canDisableInheritedPermissions": false,
            "canDownload": true,
            "canEdit": true,
            "canEnableInheritedPermissions": true,
            "canListChildren": false,
            "canModifyContent": true,
            "canModifyContentRestriction": true,
            "canModifyEditorContentRestriction": true,
            "canModifyOwnerContentRestriction": true,
            "canModifyLabels": false,
            "canMoveChildrenWithinDrive": false,
            "canMoveItemIntoTeamDrive": true,
            "canMoveItemOutOfDrive": true,
            "canMoveItemWithinDrive": true,
            "canReadLabels": false,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canRemoveContentRestriction": false,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
          },
          "permissionIds": [
            "04924317580726147301"
          ],
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "downloadRestrictions": {
            "itemDownloadRestriction": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            },
            "effectiveDownloadRestrictionWithContext": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            }
          },
          "kind": "drive#file",
          "id": "1f-T7-7KRc5eUhiKvrbtUnrql4AOyg7Oa",
          "name": "INVOICE.pdf",
          "mimeType": "application/pdf",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "version": "3",
          "webContentLink": "https://drive.google.com/uc?id=1f-T7-7KRc5eUhiKvrbtUnrql4AOyg7Oa&export=download",
          "webViewLink": "https://drive.google.com/file/d/1f-T7-7KRc5eUhiKvrbtUnrql4AOyg7Oa/view?usp=drivesdk",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/pdf",
          "hasThumbnail": true,
          "thumbnailLink": "https://lh3.googleusercontent.com/drive-storage/AJQWtBPb2Z0Bk_1-OhkG2nk0o_1i2W0faIew9WJHava9IYPNdMdF0KD93Lgj5vrp0-edOGVqkJ-vbzFveFgVyESJfa_VbD5RL6ytePlHhj1GTJnD6b4=s220",
          "thumbnailVersion": "1",
          "viewedByMe": true,
          "viewedByMeTime": "2025-08-12T21:27:22.448Z",
          "createdTime": "2025-08-12T21:27:22.448Z",
          "modifiedTime": "2025-08-12T21:26:50.000Z",
          "modifiedByMeTime": "2025-08-12T21:26:50.000Z",
          "modifiedByMe": true,
          "shared": false,
          "ownedByMe": true,
          "viewersCanCopyContent": true,
          "copyRequiresWriterPermission": false,
          "writersCanShare": true,
          "originalFilename": "INVOICE.pdf",
          "fullFileExtension": "pdf",
          "fileExtension": "pdf",
          "md5Checksum": "991d6d42bf7310944cc7be0f128b5ca3",
          "sha1Checksum": "cf4245b2894522b3066105baf6e2190f9f96585b",
          "sha256Checksum": "b965ab8dbb8f37778ead71272fba22c972c581bc9821913dcde36b689e812c24",
          "size": "78526",
          "quotaBytesUsed": "78526",
          "headRevisionId": "0B3_j0mZt0GS5SmMzYm84V0wreSs2NUgwWnRmejZtT3JzUUE4PQ",
          "isAppAuthorized": false,
          "inheritedPermissionsDisabled": false
        }
      }
    ]
  },
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "update DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download binary": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update DB": {
      "main": [
        [
          {
            "node": "Create Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Email": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9269c877-4bfe-4a65-aa17-072b9e0f5fd5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a4125a60a7bbacca04cfc44b7b60cafdf1f566575f1fe59d7ab14bf4321bf119"
  },
  "id": "WVBFgvDUTLVmBdYO",
  "tags": []
}